html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;

  margin: 50px auto 0;
  max-width: 800px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  line-height: 1;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

/***********************************************************************
 *
 * Download status
 *
 ***********************************************************************/

.database-status {
  background: white;
  padding: 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
}

.database-status > .header {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.database-status > .header > .version-label {
  margin-left: 10px;
  display: inline-block;
  padding: 5px;
  transform: translateY(-5px);
  border-radius: 5px;
  background: #fbf2a3;
  font-size: 12px;
  font-weight: bold;
}

.database-status .database-summary {
  line-height: 1.5;
  margin-bottom: 12px;
}

.database-status .status-line {
  line-height: 1.5;
  font-style: italic;
}

.database-status .status-with-button {
  display: flex;
}

.database-status .status-with-button > *:first-child {
  flex: 1;
  margin-inline-end: 20px;
}

.database-status .error {
  background: hsl(0, 90%, 96%);
  border: 1px solid hsl(0, 20%, 50%);
  border-radius: 3px;
  padding: 15px;
}

.database-status .error > .error-message {
  line-height: 1.5;
}

/***********************************************************************
 *
 * Progress bars
 *
 ***********************************************************************/

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;

  background-color: hsl(208, 100%, 95%);
  border-radius: 3px;
  border: 1px solid hsl(208, 100%, 40%);
}

progress::-webkit-progress-bar {
  background-color: hsl(208, 100%, 95%);
  border-radius: 3px;
}

@keyframes animate-stripes {
  100% {
    background-position: -160px 0, 0 0, 0 0;
  }
}

progress::-moz-progress-bar {
  background-image: linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    linear-gradient(to top, hsl(208, 100%, 40%), hsl(208, 100%, 63%));

  background-size: 80px 40px, 100% 100%, 100% 100%;
  border-radius: 3px;
  animation: animate-stripes 3s linear infinite;
}

progress[value]::-webkit-progress-value,
progress:not([value])::-webkit-progress-bar {
  background-image: linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    linear-gradient(to top, hsl(208, 100%, 40%), hsl(208, 100%, 63%));

  background-size: 80px 40px, 100% 100%, 100% 100%;
  border-radius: 3px;

  /*
   * Chrome is broken so this won't work anymore:
   * https://bugs.chromium.org/p/chromium/issues/detail?id=486195
   */
  animation: animate-stripes 3s linear infinite;
}

.overlaid-progress {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlaid-progress > label {
  position: absolute;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 0px 0px 1px hsl(208, 100%, 20%), 0px 0px 2px hsl(208, 100%, 30%);
}
