/***********************************************************************
 *
 * Checkboxes
 *
 ***********************************************************************/

.checkbox {
  @apply relative inline-block w-12 h-12;
}

.checkbox > input[type='checkbox'] {
  @apply absolute opacity-0 w-0 h-0 pointer-events-none;
}

.checkbox > label::before {
  content: '';
  @apply inline-block absolute left-0 h-12 w-12 rounded-sm cursor-pointer;
}

.checkbox.-orange > label::before {
  @apply bg-orange-100 shadow-orange-default;
}

.checkbox.-gray > label::before {
  @apply bg-gray-200 shadow;
}

.checkbox.-orange > label:hover::before {
  @apply bg-orange-50;
}

.checkbox.-gray > label:hover::before {
  @apply bg-gray-100;
}

.checkbox > .tick {
  @apply inline-block absolute left-0;
  @apply h-10 w-10 m-1;
  @apply pointer-events-none;
}

.checkbox input[type='checkbox'] ~ .tick {
  opacity: 0;
  transition: opacity 0.1s;
}

.checkbox input[type='checkbox']:checked ~ .tick {
  opacity: 1;
}

.checkbox.-orange input[type='checkbox']:focus-visible + label::before {
  outline: theme('colors.orange.1000') dotted 1px;
}

.checkbox.-gray input[type='checkbox']:focus-visible + label::before {
  outline: theme('colors.gray.900') dotted 1px;
}
