/***********************************************************************
 *
 * Progress bars
 *
 ***********************************************************************/

.progress-bar > .bar {
  background-image: linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    linear-gradient(to top, theme('colors.red.800'), theme('colors.red.500'));

  background-size:
    theme('spacing.40') theme('spacing.20'),
    100% 100%,
    100% 100%;
  animation: progress-bar-animate-stripes 3s linear infinite;
}

@keyframes progress-bar-animate-stripes {
  100% {
    background-position:
      calc(-4 * theme('spacing.20')) 0,
      0 0,
      0 0;
  }
}

.progress-bar > .label {
  text-shadow:
    0px 0px 1px theme('colors.red.800'),
    0px 0px 2px theme('colors.red.700');
}
