@tailwind base;

/***********************************************************************
 *
 * Checkboxes
 *
 ***********************************************************************/

.checkbox-orange {
  @apply relative inline-block;
  @apply w-12 h-12;
}

.checkbox-orange > input[type='checkbox'] {
  @apply absolute;
  @apply opacity-0;
  @apply w-0 h-0;
  @apply pointer-events-none;
}

.checkbox-orange > label::before {
  content: '';
  @apply inline-block absolute left-0;
  @apply h-12 w-12;
  @apply bg-orange-100 rounded-sm shadow-orange-default;
  @apply cursor-pointer;
}

.checkbox-orange > label:hover::before {
  @apply bg-orange-50;
}

.checkbox-orange > label::after {
  content: '';
  @apply inline-block absolute left-0;
  @apply h-10 w-10 m-1;
  @apply pointer-events-none;
  background: center / cover
    url('data:image/svg+xml,%3Csvg%20height%3D%228%22%20width%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%20fill%3D%22%23841003%22%3E%3Cpath%20d%3D%22M7.707%202.71L3.71%206.705a1%201%200%201%201-1.416-1.413l3.997-3.998a1%201%200%200%201%201.416%200c.39.39.39%201.024%200%201.416zM3.708%206.707a.994.994%200%200%201-1.407%200L.291%204.699A.996.996%200%200%201%201.7%203.29l2.008%202.011a.991.991%200%200%201%200%201.406z%22%2F%3E%3C%2Fsvg%3E');
}

.checkbox-orange input[type='checkbox'] + label::after {
  opacity: 0;
  transition: opacity 0.1s;
}

.checkbox-orange input[type='checkbox']:checked + label::after {
  opacity: 1;
}

.checkbox-orange input[type='checkbox']:focus + label::before {
  outline: #841003 dotted 1px;
}

@tailwind components;

@tailwind utilities;

/* purgecss start ignore */
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  margin: 20px auto 20px;
  max-width: 800px;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

/***********************************************************************
 *
 * Kanji list
 *
 ***********************************************************************/

.kanji-list {
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;

  margin-bottom: 20px;
}

.kanji-list > .kanji-entry {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.5;
}

.kanji-list > .kanji-entry + .kanji-entry {
  border-top: 3px dotted hsl(208, 0%, 80%);
  padding-top: 20px;
}

.kanji-list > .kanji-entry > .kanji {
  font-size: 50px;
}

.kanji-list > .kanji-entry > .components > .component {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px #0d76df dashed;
  border-radius: 5px;
  line-height: 1;
}

/***********************************************************************
 *
 * Progress bars
 *
 ***********************************************************************/

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;

  background-color: hsl(208, 100%, 95%);
  border-radius: 3px;
  border: 1px solid hsl(208, 100%, 40%);
}

progress::-webkit-progress-bar {
  background-color: hsl(208, 100%, 95%);
  border-radius: 3px;
}

@keyframes animate-stripes {
  100% {
    background-position: -160px 0, 0 0, 0 0;
  }
}

progress::-moz-progress-bar {
  background-image: linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    linear-gradient(to top, hsl(208, 100%, 40%), hsl(208, 100%, 63%));

  background-size: 80px 40px, 100% 100%, 100% 100%;
  border-radius: 3px;
  animation: animate-stripes 3s linear infinite;
}

progress[value]::-webkit-progress-value,
progress:not([value])::-webkit-progress-bar {
  background-image: linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    linear-gradient(to top, hsl(208, 100%, 40%), hsl(208, 100%, 63%));

  background-size: 80px 40px, 100% 100%, 100% 100%;
  border-radius: 3px;

  /*
   * Chrome is broken so this won't work anymore:
   * https://bugs.chromium.org/p/chromium/issues/detail?id=486195
   */
  animation: animate-stripes 3s linear infinite;
}

.overlaid-progress {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlaid-progress > label {
  position: absolute;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 0px 0px 1px hsl(208, 100%, 20%), 0px 0px 2px hsl(208, 100%, 30%);
}
/* purgecss end ignore */
